body {
  background-color: rgb(94, 0, 161);
}

.application {
  background-color: rgb(49, 49, 49);
  margin: 50px 50px;
  border: 3px solid rgb(94, 0, 161);
  border-radius: 100px;
}

.heading{
  text-align: center;
  color: whitesmoke;
  margin: 70px 0px;
}

.cards-container {
  margin: auto;
  padding: 0px 50px 0px 50px;
  display: grid;
  place-items: center;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
}

.loading-data-message h1 {
  text-align: center;
  font-size: 50px;
  font-weight: bold;
}

.card {
  height: 400px;
  width: 450px;
  background-color: rgb(138, 0, 236);
  border-radius: 100px;
  margin: 10px 10px 50px 10px;
  padding: 20px;
}

.card:hover{
  cursor: pointer;
  transform: scale(1.15);
  box-shadow: 0px 0px 16px 0px rgba(206, 112, 24, 0.3);
}

.content {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 17px;
  color: whitesmoke;
}

.content h1 {
  text-align: center;
  font-size: 40px;
}

.content h3 {
  text-align: right;
  font-size: 23px;
}